html {
	color: #000;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin: 0;
	padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

body,button,input,select,textarea {
	font: 12px/1.5 tahoma,arial,"Hiragino Sans GB"
}

input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

fieldset,img {
	border: 0
}

iframe {
	display: block
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: 500
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 500
}

q:before,q:after {
	content: ''
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

a:link {
	color: #08c
}

a:hover {
	color: #08c;
	text-decoration: underline
}

ins,a {
	text-decoration: none
}

code,kbd,pre,samp {
	font-family: monospace,serif;
	font-size: 1em
}

.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.fn-clear {
	zoom: 1
}

body .fn-hide {
	display: none
}

.fn-left,.fn-right {
	display: inline
}

.fn-left {
	float: left
}

.fn-right {
	float: right
}

.fn-text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.fn-linear {
	background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));
	background: -moz-linear-gradient(top,#fcfcfc,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
	background: -o-linear-gradient(top,#fcfcfc,#f1f1f1);
	background: -ms-linear-gradient(top,#fcfcfc,#f1f1f1);
	background: linear-gradient(to bottom,#fcfcfc,#f1f1f1)
}

.fn-linear-light {
	background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f9f9f9));
	background: -moz-linear-gradient(top,#fcfcfc,#f9f9f9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
	background: -o-linear-gradient(top,#fcfcfc,#f9f9f9);
	background: -ms-linear-gradient(top,#fcfcfc,#f9f9f9);
	background: linear-gradient(to bottom,#fcfcfc,#f9f9f9)
}

.fn-rmb {
	font-family: arial;
	font-style: normal;
	padding-right: 4px
}

.fn-webkit-adjust {
	-webkit-text-size-adjust: none
}

@font-face {
	font-family:iconfont;src:url(//at.alicdn.com/t/font_1450252365_0320423.eot);src:url(//at.alicdn.com/t/font_1450252365_0320423.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1450252365_0320423.woff) format('woff'),url(//at.alicdn.com/t/font_1450252365_0320423.ttf) format('truetype'),url(//at.alicdn.com/t/font_1450252365_0320423.svg#iconfont) format('svg')
}

.layout {
	margin: 0 auto;
	width: 1170px;
	overflow: visible
}

@media screen and (max-width:1170px) {
	.layout {
		margin: 0 auto;
		width: 1170px
	}
}

@media screen and (min-width:1170px) {
	.layout {
		margin: 0 auto;
		width: 1170px
	}
}

#wrapper {
	min-width: 1170px;
	overflow: hidden
}

.layout970 {
	margin: 0 auto;
	width: 970px
}

body {
	margin: 0 auto;
	font: 12px/1.5 "Microsoft YaHei",DengXian,Arial,Simsun,SimHei,sans-serif
}

@media screen and (max-width:1170px) {
	body {
		min-width: 970px
	}
}

@media screen and (min-width:1170px) {
	body {
		min-width: 1170px
	}
}

a:link {
	outline: 0
}

a:active {
	outline: 0
}

::-webkit-input-placeholder {
	color: #c3c3c3;
	font-size: 12px
}

:-moz-placeholder {
	color: #c3c3c3;
	font-size: 12px
}

::-moz-placeholder {
	color: #c3c3c3;
	font-size: 12px
}

:-ms-input-placeholder {
	color: #c3c3c3;
	font-size: 12px
}

.text-muted {
	font-size: 12px;
	color: #c3c3c3
}

.btn-secondary {
background: #333;
}
.btn, .btn-secondary, .btn-primary{
	font-style: normal;
	font-weight: 400;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 2px;
	margin: 0.125rem;
	border-radius: 0;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	border: 0;
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}

.btn:hover,.btn-primary:hover,.btn-secondary:hover,.btn-tertiary:hover,.btn-transactional:hover,.btn-outline:hover,.btn-order:hover,.btn:active,.btn-primary:active,.btn-secondary:active,.btn-tertiary:active,.btn-transactional:active,.btn-outline:active,.btn-order:active,.btn:focus,.btn-primary:focus,.btn-secondary:focus,.btn-tertiary:focus,.btn-transactional:focus,.btn-outline:focus,.btn-order:focus,.btn:visited,.btn-primary:visited,.btn-secondary:visited,.btn-tertiary:visited,.btn-transactional:visited,.btn-outline:visited,.btn-order:visited,.btn:disabled,.btn-primary:disabled,.btn-secondary:disabled,.btn-tertiary:disabled,.btn-transactional:disabled,.btn-outline:disabled,.btn-order:disabled {
	text-decoration: none;
	color: #fff;
}

.btn-primary {
	background: #c00;
}

.btn-primary:hover {
	background: #bf0000;
}

.btn-primary, .btn-secondary{
	padding: 12px 20px 10px;
	padding: 0.75rem 1.25rem 0.625rem;
	font-size: 13px;
	font-size: 0.8125rem;
	min-width: 125px;
}

.btn-close {
	font-size: 21px;
	font-size: 1.3125rem;
	min-width: 0;
	color: #ccc;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: .8rem;
	right: 1rem;
}

.modal{
	background-color: rgba(0,0,0,0.4);
	overflow-x: hidden;
	overflow-y: auto;
}
.modal{
	/*display: none;*/
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	height: 100%;
	width: 100%;	
}

.modal-dialog{
	top: 5%;	
}

.modal-dialog {
	overflow: hidden;
	position: relative;
	top: 20%;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 500px;
	max-width: 940px;
	margin: auto;
}

.modal-dialog .modal-content {
	max-width: 940px;
	margin: auto;
	position: relative;
	background-color: #fff;	
	background-clip: padding-box;
	color: #666;
	outline: 0;
}

.modal-dialog .modal-content .modal-body{
	overflow: hidden;
	position: relative;
	padding: 50px 60px;
	padding: 3.125rem 3.75rem;
	color: #fff;
}

.modal-close {
	top: 15px;
	top: 0.9375rem;
	right: 15px;
	right: 0.9375rem;
	width: 15px;
	width: 0.9375rem;
	height: 15px;
	height: 0.9375rem;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	background-repeat: no-repeat;
	background-poosition: center;
	background-size: contain;
	background-image: url("../images/icon-close-alternate.svg");
}


[type="text"], [type="password"], [type="number"], [type="email"], [type="tel"], [type="search"], [type="checkbox"], [type="radio"], [type="tel"], [type="email"], .form-textarea, .form-select, .search-input {
	outline: 0;
	border: 1px solid #ccc;
	-webkit-transition: border-color 0.2s ease-in-out;
	-moz-transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}

[type="tel"], [type="text"], [type="search"], [type="email"], [type="password"], [type="number"], .form-textarea, .form-select-overlay {
	font-style: normal;
	font-family: "HeiS ASC Simplified Chinese","HeiS ASC Simplified Chinese_n5","HeiT ASC Traditional Chinese","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica;
	font-size: 16px;
	font-size: 1rem;
	width: 100%;
	margin: 0;
	padding: 10px;
	background-color: #f7f7f7;
}

.form-label {
	float: left;
	font-style: normal;
	font-weight: 500;
/*	font-size: 11px;
	line-height: 15px;
	font-size: 0.6875rem;
	line-height: 0.9375rem;
	padding-bottom: 5px;
	padding-bottom: 0.3125rem;
	display: block;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;*/
	color: gray;
}